body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: lightblue;
    color: black;
}

.generic-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
